<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=localhost;Database=hevy_pemvis;Uid=root;Pwd=;"
			 providerName="MySqlConnector" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>